html {
  padding: 2rem 3rem;
}

.header {
  margin-bottom: 3rem;
}

.content {
  max-width: 800px;
  margin: auto;
}

.content-title {
  margin-bottom: 1rem;
}

.content-date {
  color: #aaa;
}

.snippet {
  margin-bottom: 2rem;
}

.snippet-title {
  margin: 0;
}

.snippet-date {
  color: #aaa;
  margin: 0.4rem 0 1rem;
}

hr {
  width: 6rem;
  margin-left: 0;
}

.post-content {
  position: relative;
}

.post-content img {
  max-width: 100%;
}

.button {
  font-weight: 400;
  font-family: "Noto Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}

/*
 * Fix the font-sizes of titles, they're a bit big...
 * Make them no bigger than the page header at 3.6rem.
 */
.post-content h1 { font-size: 3.6rem; }
.post-content h2 { font-size: 3.0rem; }
.post-content h3 { font-size: 2.4rem; }
.post-content h4 { font-size: 1.8rem; }
.post-content h5 { font-size: 1.2rem; }
.post-content h6 { font-size: 0.8rem; }

@media (max-width: 520px) { 
  html {
    padding: 2rem 1rem;
  }
}
