/*
 * Meta
 */
html {
  padding: 2rem 3rem;
}

h1 {
  font-size: 26px;
}

body {
  font-size: 17px;
}

.wrapper {
  max-width: 1150px;
  display: flex;
  flex-direction: horizontal;
  margin: auto;
}

/*
 * Components
 */

.button {
  font-weight: 400;
  font-family: "Noto Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  border: 1px solid #2E606B;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 0.12em;
  padding: 0 2rem;
  align-self: flex-end;
}

.button:hover {
  background: #2E606B;
  border: 1px solid #2E606B;
  color: white;
}

hr {
  width: 6rem;
  margin-left: 0;
}

/*
 * Header
 */
.header {
  margin-bottom: 3rem;
  float: left;
  position: fixed;
  text-align: right;
}

.spacer {
  width: 164px;
}

.header .title a {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.header .links a {
  font-family: "Noto Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
  font-size: 17px;
}

.header .links a:hover {
  text-decoration: underline;
}

.link-posts, .link-posts:hover {
  color: #2FD27A;
}
.link-github, .link-github:hover {
  color: #4D4848;
}
.link-twitter, .link-twitter:hover {
  color: #1DA1F2;
}
.link-about, .link-about:hover {
  color: #E02BF0;
}

/*
 * Snippet
 */

.snippets {
  flex: 1;
}

.snippet {
  display: block;
  margin-bottom: 40px;
  border: 1px solid rgba(4, 21, 35, 0.4);
  border-radius: 4px;
  padding: 40px;
  color: #222;
}

.snippet-link {
  display: block;
  text-decoration: none;
}

.snippet:hover {
  border: 1px solid #041523;
}

.snippet:hover .button {
  background: #2E606B;
  border: 1px solid #2E606B;
  color: white;
}

.snippet > a {
  color: #222;
  text-decoration: none;
}

.snippet-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Noto Serif";
}

.snippet-date {
  margin-bottom: 30px;
  font-style: italic;
  font-size: 15px;
  color: #EF8332;
}

.snippet-desc {
  font-family: "Noto Serif";
  font-size: 17px;
  line-height: 180%;
  margin-bottom: 30px;
  white-space: pre-wrap;
}

.snippet-button {
  text-align: right;
}

.snippet-button > a {
  margin-bottom: 0;
}

/*
 * Content
 */
.content {
  flex: 1;
}

.content-title {
  margin-bottom: 1rem;
}

.content-date {
  color: #aaa;
  margin-bottom: 30px;
  font-style: italic;
  font-size: 16px;
  color: #EF8332;
}

.content {
  position: relative;
}

.content img {
  max-width: 100%;
}

blockquote {
  padding-left: 10px;
  border-left: 2px solid #111;
}

pre > code {
  overflow: auto;
}

/* Wrap single line formatted code */
code {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*
 * Fix the font-sizes of titles, they're a bit big...
 * Make them no bigger than the page header at 3.6rem.
 */
.content h1 { font-size: 3.6rem; }
.content h2 { font-size: 3.0rem; }
.content h3 { font-size: 2.4rem; }
.content h4 { font-size: 1.8rem; }
.content h5 { font-size: 1.2rem; }
.content h6 { font-size: 0.8rem; }

@media (max-width: 520px) { 
  html {
    padding: 0 10px;
  }

  .snippet-button {
    display: none;
  }
}

@media (max-width: 1000px) { 
  .wrapper {
    flex-direction: column;
  }
  
  .header {
    float: none;
    position: static;
    text-align: center;
    margin: 30px 0 50px 0;
  }

  .header .links {
    margin-left: -14px;
  }

  .header .links a {
    display: inline-block;
    width: 10px;
    padding: 10px 14px;
  }

  .snippet {
    padding: 16px;
  }
}
