{{> _base}}

<div class="wrapper">
  {{> _heading}}
  <div class="spacer"></div>

  <div class="content">
    <h3 class="content-title">{{ title }}</h3>
    <p class="content-date">{{ fmt-date date }}</p>

    <hr />

    <div class="post-content">
      {{{ content }}}
    </div>

    <a href="/" class="button">Back to posts</a>

    <hr />

    <div id="replybox"></div>
  </div>

  <div class="spacer"></div>

  <script>
  window.replybox = {
    site: 'JOGB5xlnop', 
  };
  </script>
  <script src="https://cdn.getreplybox.com/js/embed.js"></script>
</div>
