{{ template "Base" }}

<body>
  <div class="flex h-screen">
    <div class="m-auto flex flex-col text-center gap-2">
      <h1 class="font-bold text-xl">404: Page not found</h1>

      </p>Couldn't find anything here, maybe try down the hall?</p>

      <a href="/">Back to the blog</a>
    </div>
  </div>
</body>

