<!DOCTYPE html>
<head>
  <title>{{ doc_title }}</title>

  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/public/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="/public/main.css" />
</head>

<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//analytics.tomarrell.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'NRQJR');
fathom('trackPageview');
</script>

