<!DOCTYPE html>
<head>
  {{#if title }}
    <title>Tom's Blog - {{ title }}</title>
  {{else}}
    <title>Tom Arrell's Blog</title>
  {{/if}}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{#if description }}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
  {{else}}
    <meta name="description" content="Tom Arrell's blog. Tom is a Software Engineer who writes about programming, embedded and electrical projects, and life." />
    <meta property="og:description" content="Tom Arrell's blog. Tom is a Software Engineer who writes about programming, embedded and electrical projects, and life." />
  {{/if}}

  <link rel="stylesheet" type="text/css" href="/public/fonts/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="/public/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="/public/main.css" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<!-- Okapi Analytics -->
<script>
 (function (o, k, a, p, i) {
   o[p] = o[p] || function ()
   { (o[p].queue = o[p].queue || []).push(arguments); }; var e = k.createElement(i);
   var firstScript = k.getElementsByTagName(i)[0]; e.async = 1; e.src = a;
   firstScript.parentNode.insertBefore(e, firstScript);
 })(window, document,
   '//okapianalytics.com/zeug.js',
   'okapi', 'script');
 okapi('set', 'tokenId', '2f1d5bd5-24fb-4df6-bae3-1fd7285af192');
 okapi('set', 'trackerApiUrl', '//api.okapianalytics.com/collect' );
 okapi('trackPageView');
</script>
<!-- End Okapi Analytics -->

