{{ define "Heading" }}
<div class="flex-none text-right mr-8">
  <div class="title">
    <a href="/" class="link-title text-white"><h1>Tom's <strong>Blog</strong></h1></a>
  </div>

  <div class="">
    <div><a class="link-posts text-green-300" href="/">posts</a></div>
    <div><a class="link-github text-gray-400" href="https://github.com/tomarrell">github</a></div>
    <div><a class="link-twitter text-blue-400" href="https://twitter.com/tom_arrell">twitter</a></div>
    <div><a class="link-about text-pink-400" href="https://tomarrell.com">about</a></div>
  </div>
</div>
{{ end }}
