{{ define "Heading" }}
<div class="flex-none text-right mr-8">
  <div class="title">
    <a href="/"><h1>Tom's <strong>Blog</strong></h1></a>
  </div>

  <div class="flex flex-col">
    <a class="" href="/">posts</a>
    <a class="" href="https://github.com/tomarrell">github</a>
    <a class="" href="https://twitter.com/tom_arrell">twitter</a>
    <a class="" href="https://tomarrell.com">about</a>
  </div>
</div>
{{ end }}
