{{ template "Base" }}

<div class="container max-w-4xl flex m-auto py-6">
  {{ template "Heading" }}

  <div class="flex-auto flex flex-col gap-6">
    {{ range .Posts }}
        <a class="no-underline block" href="/post/{{ .ID }}">
          <div class="border hover:border-black py-8 px-10 color-primary">
            <h2 class="text-2xl mb-1">{{ .Title }}</h2>
            <p class="italic text-m mb-4 color-secondary tracking-wide">{{ .Date.Format "Mon, January 02 2006" }}</p>
            <p class="color-faded leading-relaxed mb-4">{{ .Description }}</p>
            <div class="flex justify-end">
              <div class="
                button border py-2 px-4 tracking-wide border-black
                hover:bg-green-700 hover:border-green-700 hover:text-white
              ">To Article ➯</div>
            </div>
          </div>
        </a>
    {{ end }}
  </div>
</div>
