{{ template "Base" }}

<!-- <div class="sticky-nav flex relative flex-col lg:flex-row lg:fixed" style="top: 1.5rem; left: 0; width: 100%;"> -->
  <!-- <div class="flex-1"></div> -->
  <!-- <div class="container max-w-2xl flex-col"></div> -->
  <!-- <div class="flex-1 invisible"></div> -->
<!-- </div> -->

<div class="container max-w-4xl flex flex-col lg:flex-row m-auto py-6 gap-12">
  <div class="flex-none">
    {{ template "Heading" }}
  </div>

  <div class="flex-auto flex flex-col lg:mt-0 gap-6">
    {{ range .Posts }}
        <a class="link-post no-underline block" href="/post/{{ .ID }}">
          <div class="post border py-8 px-10 color-primary">
            <h2 class="text-2xl mb-1">{{ .Title }}</h2>
            <p class="italic text-m mb-4 color-secondary tracking-wide">{{ .Date.Format "Mon, January 02 2006" }}</p>
            <p class="color-faded leading-relaxed mb-4">{{ .Description }}</p>
            <div class="flex justify-end">
              <div class="
                button border py-2 px-4 tracking-wide hover:bg-white
                hover:border-white hover:text-black
              ">more</div>
            </div>
          </div>
        </a>
    {{ end }}
  </div>

  <div class="flex-none invisible">
    {{ template "Heading" }}
  </div>
</div>
